*Activity 8.01*: Retrieving Data Accurately from Databases

**Step 1**: Setting Up the Database Connection

In [27]:
import sqlite3

# Connect to the petsdb database
conn = sqlite3.connect('petsdb')  # Make sure the database file is in your working directory
cursor = conn.cursor()

**Step 2**: Verify the Connection

In [30]:
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed")
        return False
    except sqlite3.OperationalError as e:
        print("Database not connected")
        return False

print("Connection opened:", is_opened(conn))

Connection opened: True

**Step 3**: Answering the Questions

Question 1: Count of people by age groups

In [34]:
# Question 1: What is the count of people belonging to different age groups in the persons table?
print("\nQuestion 1:")
cursor.execute("SELECT age, COUNT(*) as count FROM persons GROUP BY age ORDER BY age")
for row in cursor.fetchall():
    print(f"We have {row[1]} people aged {row[0]}")

Question 1:
We have 2 people aged 5
We have 1 people aged 6
We have 1 people aged 7
We have 3 people aged 8
We have 1 people aged 9
We have 2 people aged 11
We have 3 people aged 12
We have 1 people aged 13
We have 4 people aged 14
We have 2 people aged 16
We have 2 people aged 17
We have 3 people aged 18
We have 1 people aged 19
We have 3 people aged 22
We have 2 people aged 23
We have 3 people aged 24
We have 2 people aged 25
We have 1 people aged 27
We have 1 people aged 30
We have 3 people aged 31
We have 1 people aged 32
We have 1 people aged 33
We have 2 people aged 34
We have 3 people aged 35
We have 3 people aged 36
We have 1 people aged 37
We have 2 people aged 39
We have 1 people aged 40
We have 1 people aged 42
We have 2 people aged 44
We have 2 people aged 48
We have 1 people aged 49
We have 1 people aged 50
We have 2 people aged 51
We have 2 people aged 52
We have 2 people aged 53
We have 2 people aged 54
We have 1 people aged 58
We have 1 people aged 59
We have 1 people aged 60
We have 1 people aged 61
We have 2 people aged 62
We have 1 people aged 63
We have 2 people aged 65
We have 2 people aged 66
We have 1 people aged 67
We have 3 people aged 68
We have 1 people aged 69
We have 1 people aged 70
We have 4 people aged 71
We have 1 people aged 72
We have 5 people aged 73
We have 3 people aged 74

**Question 2**: Age group with maximum number of people

In [37]:
# Question 2: Which age group has the maximum number of people?
print("\nQuestion 2:")
cursor.execute("""
    SELECT age, COUNT(*) as count 
    FROM persons 
    GROUP BY age 
    ORDER BY count DESC 
    LIMIT 1
""")
max_age = cursor.fetchone()
print(f"Highest number of people is {max_age[1]} and came from {max_age[0]} age group")

Question 2:
Highest number of people is 5 and came from 73 age group

**Question 3**: People without last names

In [40]:
# Question 3: How many people do not have a last name?
print("\nQuestion 3:")
cursor.execute("SELECT COUNT(*) FROM persons WHERE last_name IS NULL")
no_last_name = cursor.fetchone()
print(no_last_name)

Question 3:
(60,)

**Question 4**: People with more than one pet

In [43]:
# Question 4: How many people have more than one pet?
print("\nQuestion 4:")
cursor.execute("""
    SELECT COUNT(*) 
    FROM (
        SELECT owner_id, COUNT(*) as pet_count 
        FROM pets 
        GROUP BY owner_id 
        HAVING pet_count > 1
    )
""")
multi_pet_owners = cursor.fetchone()
print(f"{multi_pet_owners[0]} people have more than one pet")

Question 4:
43 people have more than one pet

**Question 5**: Pets that received treatment

In [46]:
# Question 5: How many pets have received treatment?
print("\nQuestion 5:")
cursor.execute("SELECT COUNT(*) FROM pets WHERE treatment_done = 1")
treated_pets = cursor.fetchone()
print(treated_pets)

Question 5:
(36,)

**Question 6**: Treated pets with known type

In [49]:
# Question 6: How many pets have received treatment, and the type of pet is known?
print("\nQuestion 6:")
cursor.execute("""
    SELECT COUNT(*) 
    FROM pets 
    WHERE treatment_done = 1 AND pet_type IS NOT NULL
""")
treated_known_type = cursor.fetchone()
print(treated_known_type)

Question 6:
(16,)

**Question 7**: Pets from east port

In [52]:
# Question 7: How many pets are from the city called east port?
print("\nQuestion 7:")
cursor.execute("""
    SELECT COUNT(*) 
    FROM pets p
    JOIN persons ps ON p.owner_id = ps.id
    WHERE ps.city = 'east port'
""")
east_port_pets = cursor.fetchone()
print(east_port_pets)

Question 7:
(49,)

**Question 8**: Treated pets from east port

In [55]:
# Question 8: How many pets are from the city called east port, and who received treatment?
print("\nQuestion 8:")
cursor.execute("""
    SELECT COUNT(*) 
    FROM pets p
    JOIN persons ps ON p.owner_id = ps.id
    WHERE ps.city = 'east port' AND p.treatment_done = 1
""")
treated_east_port = cursor.fetchone()
print(treated_east_port)

Question 8:
(11,)

*Step 4*: Close the Connection

In [58]:
# Close the connection
conn.close()